<!doctype html>
<html lang="en" ng-app="taskApp">
<head>
  <meta charset="utf-8">
  <title>Tasks</title>

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/bootstrap-additions/dist/bootstrap-additions.css">
  <link rel="stylesheet" href="bower_components/angular-motion/dist/angular-motion.css">
  <link rel="stylesheet" href="css/app.css">
</head>
<body ng-controller="ApplicationController">

  <div ng-if="currentUser">Welcome, {{ currentUser.email }}</div>


  <div ng-if="isAuthorized(userRoles.admin)">You're admin.</div>


  <div ng-switch on="currentUser.role">
    <div ng-switch-when="userRoles.admin">You're admin.</div>
    <div ng-switch-when="userRoles.editor">You're editor.</div>
    <div ng-switch-default>You're something else.</div>
  </div>

  <div ng-view></div>

  <div login-dialog ng-if="!isLoginPage"></div>

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/lodash/dist/lodash.js"></script>
  <script src="bower_components/angular/angular.js"></script>

  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/restangular/dist/restangular.js"></script>
  <script src="bower_components/angular-strap/dist/angular-strap.js"></script>
  <script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>

  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/services.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
